body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Используем другой шрифт */
    background-color: #005EFF;
    color: white;
    text-align: center;
    background-image: url('assets/path_to_your_background_image.jpg'); /* Укажите путь к вашему фону */
    background-size: cover;
}

.container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto; /* Центрирование по горизонтали */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* Высота 100% экрана */
}

h1 {
    margin: 20px;
    font-size: 24px;
}

.button {
    background-color: #FFD500;
    color: black;
    border: none;
    padding: 15px 40px; /* Увеличение ширины кнопки */
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px; /* Закругленные углы */
    cursor: pointer;
    width: 100%; /* Кнопка по всей ширине */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Легкая тень */
}

.button:hover {
    background-color: #FFC107;
}

.playstore-button {
    background-color: #3DDC84; /* Цвет кнопки */
    color: white;
    border: none;
    padding: 10px 30px; /* Увеличение padding для лучшего отображения */
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px; /* Меньшие закругленные углы */
    cursor: pointer;
    width: 100%; /* Кнопка по всей ширине */
    margin-top: 10px; /* Положение ниже кнопки "Получить награду" */
}

.playstore-button img {
    vertical-align: middle; /* Выравнивание изображения по вертикали */
    margin-right: 10px; /* Между изображением и текстом */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay img {
    max-width: 100%;
    max-height: 100%;
}
